h1 {

   
}


body {

   
}

.ingredients{
font-weight: bold;
background-color: rgb(94, 74, 74);


}


.steps{
font-weight: bold;
background-color: rgb(79, 99, 79);

}



img {
width: 500px;
height: auto;

}

.linkm a {
display: block;
background-color: black;
color: white;
padding: 8px;
margin: 8px;

}

ul {

    width: 400px;
    text-align: center;
    margin: 16px auto;
    padding: 8px;


}

.linkb a {
    display: block;
    background-color: black;
    color: white;
    padding: 8px;
    margin:8px
    
    
    }


    img {
       display:block;
        margin: auto;

    }


    h1 {

        text-align: center;
    }